/* Reset CSS */
body {
    font-family: Arial, sans-serif;
    background-color: #F0F0F0;
    margin: 0;
    padding: 0;
}

/* Header Styles */
.header {
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.header-content {
    padding: 20px;
}

/* Tarja Vermelha */
.tarjaVermelha {
    background-color: #BC1D1D;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Logo Styles */
.imgLogo {
    float: left;
    margin-left: 7%;
    width: 151px;
    height: 60px;
}

/* Menu Styles */
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-toggle {
    display: none;
    float: right;
    margin-right: 5%;
    font-size: 24px;
    cursor: pointer;
}

.menu ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    color: #000;
    text-decoration: none;
    margin: 0 15px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.menu a:hover {
    background-color: #EAEAEA;
}

/* Button Styles */
a.btn-Resultados {
    float: right;
    margin-right: 7%;
    background-color: #BC1D1D;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    padding: 5px;
    width: 140px;
    transition: background-color 0.3s ease;
    text-align: center;
}

a.btn-Resultados:hover {
    background-color: #901212;
}

/* Sub Styles */
.sub {
    text-align: center;
    color: #BC1D1D;
}

/* Typography Styles */
.h1 {
    
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 35px;
    margin-top: 20px;
}

.p {
    color: #000;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

/* Logo Convenios Styles */
.logoConvenios {
    margin: 7%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
    justify-content: center;
}

.logoConvenios div {
    text-align: center;
    background-color: #fff;
    border: 1px solid #BC1D1D;
    border-radius: 40px;
    padding: 100px;
}

/* WhatsApp Button Styles */
.btn-whatsapp {
    position: fixed;
    right: 75px;
    bottom: 140px;
    transform: translate(-50%, -50%);
    background-color: rgb(37, 211, 102);
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 58px;
    font-size: 1.8em;
    color: #ffffff;
    font-weight: 100;
    border-radius: 50%;
    z-index: 1;
}

.btn-whatsapp:before,
.btn-whatsapp:after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 50%;
    border: 1px solid #25d366;
    left: -20px;
    right: -20px;
    bottom: -20px;
    top: -20px;
    animation: animate 1.5s linear infinite;
    opacity: 0;
    backface-visibility: hidden;
}

.pulsaDelay:after {
    animation-delay: .5s;
}

footer {
    height: 135px;
    width: 100%;
    background-color: rgba(180, 29, 29, 0.9);
    background-image: url('../assets/fundoBg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.txt-footer {
    font-family: Inter;
    font-size: 15px;
    line-height: 1.07;
    letter-spacing: -0.16px;
    color: #f5f5f5;
    display: flex;
    justify-content: space-between;
}

.address {
    font-size: small;
    margin-top: 10px;
    margin-left: 30px;
}

.column {
    padding: 0 80px;
    margin-top: 10px;
}


.large-text {
    font-size: 20px;
}

.address-column {
    order: 0;
}
.icon-column {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.IconFooter {
    margin-right: 10px;
    width: 26px;
    height: 26px;
    filter: invert(100%);
}

.logoFooter {
    margin-left: 30px;
    margin-right: 10px;
    width: auto;
    height: 70px;
    filter: brightness(100);
}

@keyframes animate {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

/* Media Query for Responsive Design */
@media screen and (max-width: 768px) {
    .imgLogo {
        margin-left: 5%;
        width: 90px;
        height: 36px;
    }
    .menu {
        justify-content: flex-end;
        margin-right: 5px;
    }
    .menu.show {
        display: flex;
    }
    
    .menu a:hover {
        background-color: #EAEAEA;
    }
    
    a.btn-Resultados {
        margin-right: 5%;
        padding: 4px;
        width: 100px;
    }
    
    .sub {
        padding: 10px;
    }
    
    .h1 {
        font-size: 28px;
        margin-top: 10px;
    }
    
    .p {
        font-size: 16px;
    }
    
    .logoConvenios {
        margin: 5%;
        gap: 30px;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .logoConvenios div {
        padding: 20px;
        border-radius: 10px;
    }
    
    .btn-whatsapp {
        right: 20px;
        bottom: 80px;
        width: 50px;
        height: 50px;
        line-height: 48px;
        font-size: 1.5em;
        margin-right: 5px;
    }
    
    .btn-whatsapp:before,
    .btn-whatsapp:after {
        left: -15px;
        right: -15px;
        bottom: -15px;
        top: -15px;
    }
    
    .menu ul {
        display: none;
    }
    
    .menu ul.show {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        padding: 20px 0;
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        z-index: 1;
    }
    
    .menu li {
        margin: 10px 0;
    }
    
    a.btn-Resultados {
        background-color: #fff;
    }
    
    .menu a {
        color: #BC1D1D;
    }
    
    .menu-toggle {
        display: block;
    }
    
    .logoConvenios div img {
        max-width: 80px;
        height: auto;
    }
    
    .sub img {
        max-width: 200px;
        height: auto;
    }
    
    footer {
        height: auto;
        padding: 20px 0;
        background-size: auto 100%;
      }
    
      .txt-footer {
        display: flex;
        justify-content: space-between; 
      }
    
      .address {
        margin-left: 5px;
        margin-top: 5px;
        font-size: 3px;
      }
    
      .column {
        padding: 0 10px;
        margin-top: 5px;
        font-size: 4px;
      }
    
      .large-text {
        font-size: 6px;
      }
    
      .address-column {
        order: 1;
      }
    
      .IconFooter {
        margin-right: 5px;
        width: 8px;
        height: 8px;
      }
    
      .logoFooter {
        margin-left: 5px;
        margin-right: 5px;
        height: 20px;
      }

      center {
        font-size: 8px;
      }
    
}